<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="clickHandler()">Click the button</button>
  <button ion-button (click)="goToFirstPage()">Go to First Page</button>
</ion-content>
